<ion-content [fullscreen]="true">
  <div style="position: fixed; left: 5%; top: 2%; right: 5%;">
    <ion-grid>
      <ion-row no-padding>
        <ion-col size="6">
          <h1 style="font-family: Belista; font-size: 300%; margin: 0;">MISS PICS</h1>
          <h6 style="margin: 0;">MONTE SEU PEDIDO!</h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div id="container">
    <ion-grid>
      <ion-row no-padding>
        <ion-col size="6" *ngFor="let product of products">
          <p>{{ product.name }}</p>
          <p>{{ product.image }}</p>
          <div class="price">
            <p>{{ product.price | currency:'BRL' }}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div style="position: fixed; right: 0; bottom: 0;">
    <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col style="padding: 0px; text-align: right;">
          <h6 style="margin-right: 5px; width: 150px;">Total: R$ 54,50</h6>
        </ion-col>
        <ion-col style="padding: 0px; margin: auto;">
          <ion-button expand="block" style="margin-right: 15%;">Finalizar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>